.body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: $white;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}

@media (max-width: $tablet-width) {
  .body--overflow-hidden {
    overflow: hidden;
  }
}
