.contacts ul {
  list-style: none;
  margin: 0 214px 0 237px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts li {
  margin-bottom: 10px;
}

.contacts__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $black-50;
  text-decoration: none;
  position: relative;

  &:hover {
    color: $turquoise;

    &::before {
      opacity: 0.7;
    }
  }

  &:active {
    color: $turquoise-70;

    &::before {
      opacity: 0.4;
    }
  }

  &:focus {
    outline: $black solid 2px;
    outline-offset: 2px;

    &::before {
      outline: $black solid 2px;
      outline-offset: 2px;
    }
  }

  &--mail {
    &::before {
      content: "";
      position: absolute;
      width: 26px;
      height: 20px;
      background-image: url("../img/email.svg");
      left: -40px;
    }
  }

  &--phone {
    &::before {
      content: "";
      position: absolute;
      width: 21.5px;
      height: 24px;
      background-image: url("../img/phone.svg");
      left: -37px;
      top: -4px;
    }
  }
}

@media (max-width: $tablet-width) {
  .contacts ul {
    margin: 0 81px 0 111px;

    @media (min-width: 850px) {
      justify-content: space-around;
    }
  }

  .contacts__link {
    &--mail {
      &::before {
        top: 2px;
      }
    }

    &--phone {
      &::before {
        top: -3px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .contacts ul {
    flex-direction: column;
    margin: 0 22px 0 71px;
    align-items: center;
  }

  .contacts li {
    margin-bottom: 24px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .contacts__link {
    &--mail {
      &::before {
        left: -41px;
      }
    }

    &--phone {
      margin-left: -24px;
    }
  }
}
