.facts {
  margin-bottom: 60px;
}

.facts h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $our-location-black;
  margin: 0 0 101px 0;
  align-self: center;
}

.facts ol {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  counter-reset: myCounter;

  @media (min-width: 1190px) {
    column-gap: 38px;
  }
}

.facts li {
  margin-bottom: 93px;
  position: relative;

  &::after {
    position: absolute;
    counter-increment: myCounter;
    content: "0"counter(myCounter);
    top: -52px;
    margin: 0 116px;
    color: $turquoise;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -1.27px;
  }
}

.facts p {
  margin: 0;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  text-align: center;
  max-width: 263px;

  @media (max-width: 1051px) {
    max-width: 245px;
  }
}

.facts__wrapper {
  max-width: 1166px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (max-width: $tablet-width) {
  .facts {
    margin-bottom: -23px;
  }

  .facts h2 {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 86px;
  }

  .facts ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }

  .facts li {
    @media (min-width: 980px) {
      margin-left: 6px;
      margin-right: 6px;
    }

    &::after {
      top: -54px;
      margin: 0 113px;
    }
  }

  .facts p {
    max-width: 263px;
  }

  .facts__wrapper {
    max-width: none;
    min-width: 556px;
    margin: 0 106px;
  }
}

@media (max-width: $mobile-width) {
  .facts {
    margin-bottom: -11px;
  }

  .facts ol {
    flex-direction: column;
    justify-content: start;
    margin: 0;
  }

  .facts li {
    margin: 0 auto 92px auto;

    &::after {
      top: -46px;
      margin: 0 116px;
    }

    &:first-child {
      margin-bottom: 82px;

      &::after {
        top: -56px;
      }
    }
  }

  .facts p {
    font-size: 18px;
    max-width: 263px;
  }

  .facts__wrapper {
    min-width: 290px;
    margin: 0 15px;
  }
}
