.form {
  & p {
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: -0.005em;
    color: $white;
    text-align: center;
    margin: 5px 0 19px 0;
  }

  & button {
    width: 325px;
    height: 51px;
    border: none;
    border-radius: 6px;
    background-color: $turquoise;
    font-weight: 600;
    font-size: 15px;
    line-height: 21px;
    color: $black;
    cursor: pointer;

    &:hover {
      color: $black-70;
    }

    &:active {
      color: $black-70;
      background-color: $turquoise-70;
    }
  }
}

.form__field {
  & input {
    width: 327px;
    padding: 13px 29px 9px 29px;
    border: 1px solid $input-border-grey;
    margin-bottom: 20px;
    background-color: $white;
    border-radius: 6px;
    box-sizing: border-box;
    color: $input-color-black;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;

    &::placeholder {
      color: $input-color-black-50;
    }

    &:hover {
      border-color: $turquoise;

      &::placeholder {
        color: $turquoise;
      }
    }
  }
}

@media (max-width: $tablet-width) {
  .form {
    & p {
      font-size: 18px;
      color: $black;
      margin-bottom: 30px;
    }

    & button {
      width: 321px;
    }
  }

  .form__field {
    & input {
      width: 321px;
      padding: 11px 20px;
    }
  }
}

@media (max-width: $mobile-width) {
  .form {
    & p {
      margin-bottom: 20px;
    }

    & button {
      width: 286px;
    }
  }

  .form__field {
    & input {
      width: 288px;
      padding: 12px 19px 10px 26px;
    }
  }
}
