.map {
  height: 530px;
  margin-bottom: 40px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $map-background-grey;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map@2x.png");
  }

  & iframe {
    width: 100%;
    height: 530px;
  }
}

@media (max-width: $tablet-width) {
  .map {
    margin-bottom: 21px;
    height: 545px;

    & iframe {
      height: 545px;
    }
  }
}

@media (max-width: $mobile-width) {
  .map {
    margin-bottom: 32px;
    height: 250px;

    & iframe {
      height: 250px;
    }
  }
}
