.map {
  height: 530px;
  margin-bottom: 40px;
}

.map__iframe {
  width: 100%;
  height: 530px;
}

@media (max-width: $tablet-width) {
  .map {
    margin-bottom: 21px;
    height: 545px;
  }

  .map__iframe {
    height: 545px;
  }
}

@media (max-width: $mobile-width) {
  .map {
    margin-bottom: 31px;
    height: 250px;
  }

  .map__iframe {
    height: 250px;
  }
}
