// Colors

$background-black: #0d0d0d;
$black: #000000;
$black-70: rgba(0, 0, 0, 0.7);
$white: #ffffff;
$white-20: rgba(255, 255, 255, 0.2);
$grey: #48494d;
$turquoise: #0ad9c6;
$turquoise-70: rgba(10, 217, 198, 0.7);
$toggle-opened-grey: rgba(20, 21, 23, 0.2);
$background-nav-item-grey: #f6f6f6;
$arrow-menu-grey: rgba(44, 46, 63, 0.5);
$input-border-grey: #c9ccd4;
$input-color-black: #1c1c1c;
$input-color-black-50: rgba(28, 28, 28, 0.5);

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
