// Global

@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/visually-hidden.scss";

// Blocks

@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/promo.scss";
@import "blocks/form.scss";
@import "blocks/page-footer.scss";
@import "blocks/our-location.scss";
@import "blocks/map.scss";
@import "blocks/contacts.scss";
@import "blocks/facts.scss";
@import "blocks/bicycles-types.scss";
